<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="it368_Auction_ProjectConnectionString" connectionString="Data Source=itksqlexp8;Initial Catalog=it368_Auction_Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <identity impersonate="true" userName="adilstu\IT3680103" password="dowhile31" />
    <sessionState mode="InProc" timeout="30"/>
  </system.web>
</configuration>