<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="it368_Auction_ProjectConnectionString" connectionString="Data Source=itksqlexp8;Initial Catalog=it368_Auction_Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <!--<identity impersonate="true" userName="adilstu\IT3680117" password="hexdec17" />-->
    <identity impersonate="true" userName="adilstu\IT3680110" password="indexof63" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ISUSMSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gfish.it.ilstu.edu:8080/ISUTextSMS/ISUSMS"
        binding="basicHttpBinding" bindingConfiguration="ISUSMSPortBinding"
        contract="ServiceReference1.ISUSMS" name="ISUSMSPort" />
    </client>
  </system.serviceModel>
</configuration>