/*
    Cross-page styles
*/

.ui.header>img{
    width: 300px;
}

.ui.segment{
    background-color: #f2f3ee;
}

#main-content{
    margin-top: 100px;
}

h3{
    color:#554843 !important;
}

label{
    color: #554843 !important;
}

.ui.red.button{
    background-color: #930a2c!important;
}
.ui.inverted.red.menu{
    background-color: #930a2c!important;
}

.ui.smoky-brown.button{
    background:#554843!important;
    color: #fff!important;
}

.footer.segment {
      /*margin-top: 50px!important;*/
      padding: 5em 0em;
    }

.ui.image img{
    width:100%;
}

html, body {
height: 100%;
}


body {
    background-image: url('image/bg1.jpg');
    
}

.ui.modal .row{
    max-width: 500px;
}



/*
    Sign-up Page styles
*/

.signup{
    margin-top: 50px !important; 
}

.ui.menu .item>img:not(.ui){
    width: 200px !important;
}

/*
    Home
*/
.home-bg{
    background-image: url('image/bg3.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}
/*
    Add item page
*/


.upload-image{
    width: 250px;
}